* {
  margin: 0;
  padding: 0;
}
body {
 background-color:#EAEAEA ; 
}
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: start;
  gap: 10%;
}
/*bar de navigation*/
.navbar {
  padding: 30px;
}
.navbar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navbar a {
  color: black;
  text-decoration: none;
  padding: 10px;
}

.navbar a:hover {
  background-color:#A3A3A3;
  border-radius: 5px;
}

.navbar a:active {
  background-color: #1E40AF;
  border-radius: 5px;
}
/*index.html*/
.content a {
  color: #EAEAEA;
  text-decoration: none;
  background-color: #2563EB;
  padding: 10px;
  border-radius: 5px;
}
.content a:hover{
  background-color: #1E40AF;
}
.content img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: start;
  gap: 10px;
  align-items: center;
}
.content p {
  text-align: center;
  padding: 10px;
}
/*a propos*/
.about {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;
  align-items: center;
}
.cv {
  display: flex;
  flex-direction:row;
  justify-content: center;
  padding: 12px;
  margin: 12px;
  gap: 10px;
  flex-wrap: wrap;
}
.cv ul {
  list-style: none;
  background-color: #1F1F1F;
  border: 1px solid #3A3A3A;
  color: #EAEAEA;
  padding: 12px;
  margin: 12px;
  border-radius: 15px;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  width: 300px;
}
.cv ul:hover {
 box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}
.about h2 {
  color:#22C55E;
}
.cv h3 {
  padding:10px  0;
}
.about p {
  text-align: center;
}
/* projet*/
.cartes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.carte {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 12px;
  background-color: #1F1F1F;
  border: 1px solid #3A3A3A;
  color: #EAEAEA;
  padding: 12px;
  margin: 12px;
  border-radius: 15px;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.carte p {
  text-align: center;
}

.carte a {
  color: white;
  text-decoration: none;
  background-color: #2563EB;
  padding: 10px;
  border-radius: 5px;
}
.carte a:hover{
  background-color: #1E40AF;
}
.carte:hover {
 box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}
/*contacts*/
.contact{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.contact form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  gap: 20px;
  flex-wrap: wrap;
}
.contact form textarea{
  height: 300px;
}
.reseaux {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 12px;
}

input, textarea {
      background-color: #1F1F1F;
      border: 1px solid #3A3A3A;
      color: #EAEAEA;
      padding: 12px;
      border-radius: 6px;
      font-size: 16px;
    }
    button {
      background-color: #2563EB;
      color: white;
      border: none;
      padding: 12px 24px;
      font-size: 16px;
      border-radius: 6px;
      cursor: pointer;
      transition: background-color 0.3s;
    }
    button:hover {
      background-color: #1E40AF;
    }